/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container-top{
    width: 400px;
    margin: 20px auto;
 }

 body{
    font-family: Verdana, sans-serif;
    font-size: 14px;
 }

 h1{
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
 }

 h2{
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

 .menu1-video li{
	margin: 10px;
	float: left;
	list-style: none;
}

.menu2-video li{
	margin: 10px;
	float: left;
    list-style: none;
}

.menu3-video li{
	margin: 10px;
	float: left;
    list-style: none;
}

.menu4-video li{
	margin: 10px;
	float: left;
    list-style: none;
}

.menu5-video li{
	margin: 10px;
	float: left;
    list-style: none;
}

.menu2-title h2{
    text-align: bottom;
    margin-top: 300px;
}

.menu3-title h2{
    text-align: bottom;
    margin-top: 300px;
}

.menu4-title h2{
    text-align: bottom;
    margin-top: 300px;
}

.menu5-title h2{
    text-align: bottom;
    margin-top: 300px;
}

